/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --ice: rgba(210, 210, 210, 1);
    --red: rgba(255, 0, 0, 1);
    --blue: rgba(0, 0, 255, 1);
    --green: rgb(0, 255, 0);
    --linha: rgba(160, 160, 160, 1);
    --bege: rgb(241, 224, 198);
    --yellow: rgba(255, 255, 0, 1);
}
textarea:focus,
input:focus,
select:focus {
    outline: 0;
}
body{
    background-color: rgba(210, 210, 210, 1);
    font-family: 'Montserrat', sans-serif;
}
header{
    border-bottom: 1px solid var(--linha);
}
.logo{
    text-align: center;
    font-size: 8vw;
    margin: 20px 0 10px 0;
}
.search-camp{
    text-align: center;
    border-bottom: 1px solid var(--linha);
}
#searchInput{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 5.5vw;
    margin: 30px 0;
}
#searchInput:focus{
    outline: 2px solid var(--black);
}
#searchBtn{
    position: absolute;
    right: 55px;
    top: 105px;
    border: none;
    font-size: 6vw;
}
.btnAdd-nota{
    text-align: center;
    margin: 30px 0;
}
.reveal-add{
    padding: 15px;
    font-size: 6.5vw;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 4px var(--black);
}
#campos-adicao{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    height: 100%;
    transition: 0.5s;
    width: 100%;
    width: 0;
    background-color: var(--ice);
    overflow: hidden;
    z-index: 9;
}
.header-camp{
    margin-top: 10px;
}
.left{
    font-size: 11vw;
}
#caixa-alert{
    position: absolute;
    top: 200px;
    left: 25px;
    transition: 0.5s;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 20px var(--black);
    overflow: hidden;
    background-color: var(--bege);
    padding: 10px 15px;
}
.text-caixaAlert h3{
    font-size: 6.5vw;
    text-align: center;
}
.btns-caixaAlert{
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btnAlert{
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 5vw;
    font-weight: 600;
}
.btn-sair{
    background-color: var(--red);
}
.adicionar-nota{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#titleInput{
    width: 370px;
    resize: none;
    height: 60px;
    font-size: 7vw;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px var(--black);
    background-color: var(--white);
}
#noteInput{
    width: 370px;
    resize: none;
    height: 550px;
    font-size: 6vw;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px var(--black);
    background-color: var(--white);
    font-family: 'Raleway', sans-serif;
}
.btn-salvo{
    border: none;
    box-shadow: 0 0 10px var(--black);
    border-radius: 100%;
    background-color: var(--blue);
    position: absolute;
    bottom: 20px;
    color: var(--white);
    right: 15px;
    padding: 10px;
    font-size: 7vw;
}
.caixa-erro{
    position: absolute;
    top: 220px;
    background-color: var(--white);
    width: 320px;
    box-shadow: 0 0 15px var(--black);
    border-radius: 5px;
}
.caixa-erro i{
    font-size: 10vw;
}
.textErro{
    text-align: center;
    font-size: 6vw;
    margin: 10px 0 30px 0;
}
#caixaErro_erro{
    display: none;
}
#caixaErro_title{
    display: none;
}
#caixaErro_nota{
    display: none;
}
/* campo onde entra as notas na pagina inicial */
#noteList{
    margin: 30px 0;
}
.nav-mobile{
    background-color: var(--bege);
    display: flex;
    justify-content: space-evenly;
}
.notasSalvas{
    font-size: 7.5vw;
}
/* div da nota */
.note-item{
    border-radius: 5px;
    box-shadow: 0 0 5px var(--black);
    margin: 10px 15px;
    padding: 15px 0 30px 10px;
    display: flex;
    justify-content: space-between;
}
/* title da nota */
.note-item h3{
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* nota */
.note-item p{
    font-size: 5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* campo menu notas */
.menu-nota{
}
/* icon de acessar os botoes */
.menu-nota i{
    position: relative;
    font-size: 8vw;
}
/* campo de buttons da nota */
.btns-actions{
    display: none;
    flex-direction: column;
    background-color: var(--bege);
    padding: 5px;
    position: absolute;
    right: 20px;
    width: 150px;
}
.closeBtns{
    display: none;
    position: absolute;
}
/* btn excluir */
.btnsOptions{
    border: none;
    font-size: 5vw;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}
.btn-excluir{
    color: var(--white);
    background-color: var(--red);
}
/* btn favoritar */
.btn-favoritar{
    background-color: var(--yellow);
}




/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */